body {
    background: white;
}
#players {
    display: flex;
    width: 50%;
    margin: auto;
}
.player {
    width: 50%;
    text-align: center;
    font-size: 30px;
}
.player.active {
    font-weight: bold;
}

#scores {
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
.score {
    width: 50%;
    text-align: center;
    font-size: 30px;
    color: red;
}
.message,.new-game {
    display: flex;
    justify-content: center;
}
.result {
    margin-top: 20px;
    font-size: 20px;
    color: green;
}

.restart {
    background-color: #04AA6D;
    width: fit-content;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.new-game span {
    background-color: #04AA6D;
    width: 70px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}
.new-game {
    display: none;
    justify-content: center;
}


.new-game.active {
    display: flex;
}

#table_game {
    border-spacing: 10px;
    border-collapse: collapse;
    margin: 50px auto;
    background: #E7E9EB;
}

.col {
    border: 1px solid black;
	width: 70px;
	height: 70px;
    text-align: center;
}

.col:hover {
	background: #ddffff;
}