body {
    background: white;
}
#players {
    display: flex;
    width: 50%;
    margin: auto;
}
.player {
    width: 50%;
    text-align: center;
    font-size: 30px;
}
.player.active {
    font-weight: bold;
}

#scores {
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
.score {
    width: 50%;
    text-align: center;
    font-size: 30px;
    color: red;
}

.result {
    font-size: 25px;
    color: red;
    font-weight: bold;
}

.restart {
    background-color: aqua;
    width: fit-content;
    display: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
}

.restart.active {
    display: block;
}

#table_game {
    border-spacing: 10px;
    border-collapse: collapse;
    margin: 100px auto;
    background: azure;
}

.col {
    border: 1px solid black;
	width: 150px;
	height: 150px;
    text-align: center;
}

.col:hover {
	background: #E3DCCC;
}